*{
	margin: 0px;
	padding: 0px;
}
.clear {
	clear:both;
	height:0px;
}
a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #725b5f;
}
a:hover {
	color: #985560;
}

ul {list-style: none;}

a:link {text-decoration: none;}

#main_content_item{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10pt;
	color: #dfc4b3;
	text-shadow: #0d080a 0px 1px 1px;
}
h2, h3{
	font-family: Century;
	color: #dfc4b3;
	text-shadow: #0d080a 0px 1px 1px;
}

a:hover{
	text-decoration:none;
}
a:focus {
	outline-style: none;
	outline-color: invert;
	outline-width: medium;
}
td {
	text-align:center;
}
.view{
	width: 980px;
	margin: 0px auto;
}
body {
	background: #090405 url(images/bg.jpg) repeat-y center top;
}
	#header {
		background: url(images/header_bg.jpg) no-repeat center top;
		height: 490px;
	}
		#srvstatusbar {
			height: 45px;
			width: 980px;
		}
			#srvstatusbar_left {
				float: left;
				height: 45px;
			}
			#srvstatusbar_right {
				height: 45px;
				margin-left: 713px;
			}
				#srvstatusbar_item {
					background: url(images/srvstatusbar_item_bg.png) repeat-x center top;
					float: left;
					height: 35px;
					min-width: 20px;
					margin-top: 6px;
					margin-left: 1px;
				}
					#srvstatusbar_item_seperator {
						background: url(images/srvstatusbar_item_seperator.png) no-repeat center top;
						height: 35px;
						width: 2px;
					}
					#srvstatusbar_item_content {
						float: left;
						margin: 10px;
					}
						#srvstatusbar_item_content_icon_online {
							background: url(images/srvstatus_icons.png) no-repeat 0px 0px;
							float: left;
							margin-top: -3px;
							margin-right: 3px;
							height: 20px;
							width: 20px;
						}
						#srvstatusbar_item_content_icon_offline {
							background: url(images/srvstatus_icons.png) no-repeat 0px -20px;
							float: left;
							margin-top: -3px;
							margin-right: 3px;
							height: 20px;
							width: 20px;
						}
						#srvstatusbar_item_content_icon_different {
							background: url(images/srvstatus_icons.png) no-repeat 0px -40px;
							float: left;
							margin-top: -3px;
							margin-right: 3px;
							height: 20px;
							width: 20px;
						}
				#srvstatusbar_infobutton {
					background: url(images/srvstatusbar_infobutton.jpg) repeat-x 0px 0px;
					float: right;
					height: 37px;
					width: 43px;
					margin-top: 4px;
					margin-left: 1px;
					text-decoration: none;
					line-height: 38px;
					text-align: center;
				}
					#srvstatusbar_infobutton:hover {
						background: url(images/srvstatusbar_infobutton.jpg) repeat-x 0px -37px;
						color: #fff;
					}
						#srvstatusbar_infobutton:active {
							background: url(images/srvstatusbar_infobutton.jpg) repeat-x 0px -74px;
							color: #fff;
						}
		#header_logo {
			background: url(images/header_logo.png) no-repeat center top;
			clear: both;
			float: left;
			display: block;
			height: 178px;
			width: 413px;
			margin-top: 63px;
			margin-left: 284px;
		}
	#navigation {
		clear: both;
		float: left;
		margin-top: 74px;
		height: 117px;
		width: 980px;
	}
		.navigation_item {
			float: left;
			height: 85px;
			display: block;
			margin-top: 32px;
			width: 133px;
		}
		#navigation_item_1 {
			background: url(images/navigation_items_bg.jpg) no-repeat 0px 0px;
		}
			#navigation_item_1:hover {
				background: url(images/navigation_items_bg.jpg) no-repeat 0px -85px;
			}
				#navigation_item_1:active {
					background: url(images/navigation_items_bg.jpg) no-repeat 0px -170px;
				}
		#navigation_item_2 {
			background: url(images/navigation_items_bg.jpg) no-repeat -133px 0px;
		}
			#navigation_item_2:hover {
				background: url(images/navigation_items_bg.jpg) no-repeat -133px -85px;
			}
				#navigation_item_2:active {
					background: url(images/navigation_items_bg.jpg) no-repeat -133px -170px;
				}
		#navigation_item_3 {
			background: url(images/navigation_items_bg.jpg) no-repeat -266px 0px;
			width: 132px;
		}
			#navigation_item_3:hover {
				background: url(images/navigation_items_bg.jpg) no-repeat -266px -85px;
			}
				#navigation_item_3:active {
					background: url(images/navigation_items_bg.jpg) no-repeat -266px -170px;
				}
		#navigation_item_4 {
			background: url(images/navigation_items_bg.jpg) no-repeat -398px 0px;
		}
			#navigation_item_4:hover {
				background: url(images/navigation_items_bg.jpg) no-repeat -398px -85px;
			}
				#navigation_item_4:active {
					background: url(images/navigation_items_bg.jpg) no-repeat -398px -170px;
				}
		#navigation_item_5 {
			background: url(images/navigation_items_bg.jpg) no-repeat -532px 0px;
		}
			#navigation_item_5:hover {
				background: url(images/navigation_items_bg.jpg) no-repeat -532px -85px;
			}
				#navigation_item_5:active {
					background: url(images/navigation_items_bg.jpg) no-repeat -532px -170px;
				}
		#navigation_item_6 {
			background: url(images/navigation_items_bg.jpg) no-repeat -664px 0px;
			width: 132px;
		}
			#navigation_item_6:hover {
				background: url(images/navigation_items_bg.jpg) no-repeat -664px -85px;
			}
				#navigation_item_6:active {
					background: url(images/navigation_items_bg.jpg) no-repeat -664px -170px;
				}
		#navigation_item_center {
			background: url(images/navigation_item_center_bg.jpg) no-repeat 0px 0px;
			width: 105px;
			height: 102px;
			margin-top: 0px;
			margin-left: 39px;
			margin-right: 40px;
		}
			#navigation_item_center:hover {
				background: url(images/navigation_item_center_bg.jpg) no-repeat 0px -102px;
			}
				#navigation_item_center:active {
					background: url(images/navigation_item_center_bg.jpg) no-repeat 0px -204px;
				}
	#content_rep {
		background: url(images/content_rep_bg.jpg) repeat-y left top;
	}
		#content_top {
			background: url(images/content_top_bg.jpg) no-repeat center top;
		}
			#main_content {
				float: left;
				width: 670px;
				min-height: 400px;
			}
				#main_content_eventcountdown {
					background: url(images/main_content_eventcountdown_bg.jpg) no-repeat center top;
					float: left;
					height: 130px;
					width: 610px;
					margin-left: 30px;
					margin-top: 63px;
				}
					#main_content_eventcountdown_time {
						float: left;
						height: 76px;
						width: 291px;
						margin-top: 39px;
						margin-left: 43px;
					}
						.main_content_eventcountdown_time_item {
							float: left;
							height: 50px;
							width: 69px;
							margin-top: 23px;
							margin-left: 1px;
							margin-right: 1px;
							text-align: center;
						}
					#main_content_eventcountdown_description {
						float: left;
						height: 105px;
						width: 241px;
						margin-left: 15px;
						margin-top: 24px;
					}
						#main_content_eventcountdown_description_title {
							font-family: Tahoma, Geneva, sans-serif;
							font-size: 11pt;
							font-weight: bold;
							color: #f2e9e9;
							text-shadow: #3b0800 0px 1px 1px;
						}
						#main_content_eventcountdown_description_content {
							margin-top: 5px;
							margin-left: 3px;
						}
							#textstyle_eventcountdown_description_link {
								font-family: Century;
								font-size: 9pt;
								color: #cf484f;
							}
								#textstyle_eventcountdown_description_link:hover {
									color: #f3646b;
								}
									#textstyle_eventcountdown_description_link:active {
										color: #ffadb1;
									}
				#main_content_extrabuttons {
					height: 94px;
					width: 645px;
					margin-left: 17px;
					clear: both;
				}
					#main_content_extrabuttons_wheeloffate {
						background: url(images/main_content_extrabuttons.jpg) no-repeat -209px 0px;
						display: block;
						float: left;
						margin-left: 3px;
						height: 94px;
						width: 216px;
					}
						#main_content_extrabuttons_wheeloffate:hover {
							background: url(images/main_content_extrabuttons.jpg) no-repeat -209px -94px;
						}
							#main_content_extrabuttons_wheeloffate:active {
								background: url(images/main_content_extrabuttons.jpg) no-repeat -209px -188px;
							}
					#main_content_extrabuttons_wiki {
						background: url(images/main_content_extrabuttons.jpg) no-repeat 0px 0px;
						display: block;
						float: left;
						height: 94px;
						width: 209px;
					}
						#main_content_extrabuttons_wiki:hover {
							background: url(images/main_content_extrabuttons.jpg) no-repeat 0px -94px;
						}
							#main_content_extrabuttons_wiki:active {
								background: url(images/main_content_extrabuttons.jpg) no-repeat 0px -188px;
							}
					#main_content_extrabuttons_auction {
						background: url(images/main_content_extrabuttons.jpg) no-repeat -425px 0px;
						display: block;
						float: left;
						height: 94px;
						width: 209px;
					}
						#main_content_extrabuttons_auction:hover {
							background: url(images/main_content_extrabuttons.jpg) no-repeat -425px -94px;
						}
							#main_content_extrabuttons_auction:active {
								background: url(images/main_content_extrabuttons.jpg) no-repeat -425px -188px;
							}
				#main_content_items {
					width: 645px;
					clear: both;
					margin-left: 17px;
				}
					#main_content_item {
						margin: 3px auto;
						width: 617px;
					}
						#main_content_item_title {
							background: url(images/main_content_item.jpg) no-repeat 0px 0px;
							width: 617px;
							height: 90px;
						}
							#main_content_item_title p {
								width: 100%;
								float: left;
								margin-top: 47px;
								text-align: center;
							}
						#main_content_item_content {
							background: url(images/main_content_item_content_top_bg.jpg) no-repeat center top;
							min-height: 17px;
							line-height: 20px;
							padding-left: 17px;
							padding-right: 17px;
						}
							.main_content_item_content_image_small {
								float: left;
								margin-top: -9px;
								margin-right: 5px;
							}
							.main_content_item_content_image_big {
								float: left;
							}
						#main_content_item_footer {
							background: url(images/main_content_item.jpg) no-repeat 0px -90px;
							width: 600px;
							height: 62px;
						}
							#main_content_item_footer p {
								float: left;
								width: 438px;
								margin-top: 24px;
								margin-left: 22px;
							}
							#main_content_item_footer a {
								float: left;
								margin-top: 8px;
								margin-left: 30px;
							}
			#userpanel {
				float: right;
				width: 310px;
				height: 284px;
			}

			#userpanel p {
				padding-top:50px;
				padding-left:55px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12pt;
				color: #dfc4b3;
				text-shadow: #0d080a 0px 1px 1px;
			}

			#userMenuNavi {
				margin-left:57px;
			}

				#userMenuNavi ul {
					list-style-type:none;
				}

				#userMenuNavi ul li a {
					float:left;
				}


				#userpanel_social {
					float: right;
					margin-right: 52px;
					margin-top: 30px;
					height: 38px;
					width: 152px;
				}
					.socialicon {
						height: 38px;
						width: 38px;
						display: block;
						float: right;
					}
						#userpanel_social_epvp {
							background: url(images/userpanel_socialbuttons.jpg) no-repeat -113px 0px;
						}
							#userpanel_social_epvp:hover {
								background: url(images/userpanel_socialbuttons.jpg) no-repeat -113px -38px;
							}
								#userpanel_social_epvp:active {
									background: url(images/userpanel_socialbuttons.jpg) no-repeat -113px -76px;
								}
						#userpanel_social_youtube {
							background: url(images/userpanel_socialbuttons.jpg) no-repeat -75px 0px;
						}
							#userpanel_social_youtube:hover {
								background: url(images/userpanel_socialbuttons.jpg) no-repeat -75px -38px;
							}
								#userpanel_social_youtube:active {
									background: url(images/userpanel_socialbuttons.jpg) no-repeat -75px -76px;
								}
						#userpanel_social_facebook {
							background: url(images/userpanel_socialbuttons.jpg) no-repeat -37px 0px;
						}
							#userpanel_social_facebook:hover {
								background: url(images/userpanel_socialbuttons.jpg) no-repeat -37px -38px;
							}
								#userpanel_social_facebook:active {
									background: url(images/userpanel_socialbuttons.jpg) no-repeat -37px -76px;
								}
						#userpanel_social_twitter {
							background: url(images/userpanel_socialbuttons.jpg) no-repeat 0px 0px;
						}
							#userpanel_social_twitter:hover {
								background: url(images/userpanel_socialbuttons.jpg) no-repeat 0px -38px;
							}
								#userpanel_social_twitter:active {
									background: url(images/userpanel_socialbuttons.jpg) no-repeat 0px -76px;
								}
				#userpanel_login {
					clear: both;
					float: left;
					margin-left: 51px;
					margin-top: 19px;
				}
					#userpanel_login_inputs {
						height: 101px;
						width: 206px;
					}
						#userpanel_login_input_bgID {
							background: url(images/userpanel_inputs.jpg) no-repeat 0px 0px;
							height: 49px;
							width: 206px;
						}
							#userpanel_login_input_ID {
								border: none;
								background: transparent;
								height: 32px;
								width: 164px;
								margin-top: 13px;
								margin-left: 12px;
								padding-left: 9px;
								padding-right: 9px;
							}
						#userpanel_login_input_bgPW {
							background: url(images/userpanel_inputs.jpg) no-repeat 0px -49px;
							height: 52px;
							width: 206px;
						}
							#userpanel_login_input_PW {
								border: none;
								background: transparent;
								height: 32px;
								width: 164px;
								margin-top: 6px;
								margin-left: 12px;
								padding-left: 9px;
								padding-right: 9px;
								font-family: Tahoma, Geneva, sans-serif;
								font-size: 8pt;
							}
					#userpanel_login_buttons {
						height: 46px;
						width: 220px;
					}
			#sidebar_begin {
				background: url(images/sidebar_begin_bg.jpg) no-repeat center top;
				height: 106px;
			}
			#sidebar {
				float: right;
				width: 310px;
			}
				#sidebar_rep_bg {
					background: url(images/sidebar_rep_bg.jpg) repeat-y center top;
					width: 310px;

				}
					#sidebar_top_bg {
						background: url(images/sidebar_top_bg.jpg) no-repeat center top;
						width: 310px;
						min-height: 235px;
					}
						#sidebar_bottom_bg {
							background: url(images/sidebar_bottom_bg.png) no-repeat center bottom;
							width: 310px;
							min-height: 700px;
						}
							#sidebar_content {
								width: 261px;
								margin: 0px auto;
								padding-bottom: 130px;
							}
								#sidebar_content_item {
									margin-bottom: 35px;
								}
									#sidebar_content_item_title {
										background: url(images/sidebar_content_item_title.png) no-repeat center top;
										height: 71px;
										width: 261px;
									}
										#sidebar_content_item_title p {
											float: left;
											width: 261px;
											text-align: center;
											margin-top: 18px;
										}
									#sidebar_content_item_content {
										width: 223px;
										margin: 0px auto;
									}
										#sidebar_content_item_content_ranking_player {
											background: url(images/sidebar_ranking_player_grid_bg.png) no-repeat center top;
											min-height: 125px;
											width: 211px;
											margin: 0px auto;
										}
										#sidebar_content_item_content_ranking_guilds {
											background: url(images/sidebar_ranking_guilds_grid_bg.png) no-repeat center top;
											min-height: 125px;
											width: 197px;
											margin: 0px auto;
										}
											#sidebar_content_item_content_ranking_header {
												height: 20px;
												width: 211px;
												float: left;
											}
												.ranking_player_place {
													float: left;
													width: 32px;
													margin-right: 1px;
													text-align: center;
												}
												.ranking_player_place1 {
													float: left;
													width: 32px;
													margin-right: 1px;
													text-align: center;
													text-indent: -5px;
												}
												.ranking_player_username {
													float: left;
													width: 100px;
													margin-right: 1px;
													text-align: left;
													text-indent: 10px;
												}
												.ranking_player_username1 {
													float: left;
													width: 100px;
													margin-right: 1px;
													text-align: left;
													text-indent: 5px;
												}
												.ranking_player_empire {
													float: left;
													width: 39px;
													margin-right: 1px;
													text-align: center;
												}
												.ranking_player_empire1 {
													float: left;
													width: 39px;
													margin-right: 1px;
													text-align: center;
													text-indent: -15px;
												}
												.ranking_player_rating {
													float: left;
													width: 36px;
													margin-right: 1px;
													text-align: left;
													text-indent: 7px;
												}
												.ranking_player_rating1 {
													float: left;
													width: 36px;
													margin-right: 1px;
													text-align: left;
												}
												.ranking_guilds_place {
													float: left;
													width: 32px;
													margin-right: 1px;
													text-align: center;
												}
												.ranking_guilds_place1 {
													float: left;
													width: 32px;
													margin-right: 1px;
													text-align: center;
													text-indent: -5px;
												}
												.ranking_guilds_guildname {
													float: left;
													width: 109px;
													margin-right: 1px;
													text-align: left;
													text-indent: 10px;
												}
												.ranking_guilds_guildname1 {
													float: left;
													width: 109px;
													margin-right: 1px;
													text-align: left;
													text-indent: 10px;
												}
												.ranking_guilds_rating {
													float: left;
													width: 53px;
													margin-right: 1px;
													text-align: left;
													text-indent: 7px;
												}
												.ranking_guilds_rating1 {
													float: left;
													width: 53px;
													margin-right: 1px;
													text-align: left;
													text-indent: 9px;
												}
											#sidebar_content_item_content_ranking_item_top3 {
												clear: both;
												height: 22px;
												margin-top: 1px;
											}
												.ranking_empire_red_big {
													background: url(images/sidebar_ranking_empires_big.png) no-repeat 0px 0px;
													height: 18px;
													width: 26px;
													margin: 2px auto;
												}
												.ranking_empire_yellow_big {
													background: url(images/sidebar_ranking_empires_big.png) no-repeat 0px -18px;
													height: 18px;
													width: 26px;
													margin: 2px auto;
												}
												.ranking_empire_blue_big {
													background: url(images/sidebar_ranking_empires_big.png) no-repeat 0px -36px;
													height: 18px;
													width: 26px;
													margin: 2px auto;
												}
											#sidebar_content_item_content_ranking_item_normal {
												clear: both;
												height: 18px;
												margin-top: 1px;
											}
												.ranking_empire_red_small {
													background: url(images/sidebar_ranking_empires_small.png) no-repeat 0px 0px;
													height: 15px;
													width: 21px;
													margin: 2px auto;
												}
												.ranking_empire_yellow_small {
													background: url(images/sidebar_ranking_empires_small.png) no-repeat 0px -15px;
													height: 15px;
													width: 21px;
													margin: 2px auto;
												}
												.ranking_empire_blue_small {
													background: url(images/sidebar_ranking_empires_small.png) no-repeat 0px -30px;
													height: 15px;
													width: 21px;
													margin: 2px auto;
												}
	#footer {
		background: url(images/footer_bg.jpg) no-repeat center top;
		height: 322px;
	}
		#footer_main_content_pages {
			width: 617px;
			margin-left: 32px;
			height: 30px;
		}
			#footer_main_content_pages_content {
				display: table;
				margin: 0px auto;
			}
				.pagelink {
					float: left;
					padding: 7px;
				}
				.pagelink_active {
					float: left;
					padding: 7px;
					background: #110c0e;
				}
		#footer_main_content_button_top {
			clear: both;
			height: 65px;
			width: 65px;
			margin-left: 84px;
			margin-top: 84px;
		}
			#footer_button_backtoptop {
				background: url(images/footer_button_backtotop.jpg) no-repeat 0px 0px;
				height: 65px;
				width: 65px;
				display: block;
			}
				#footer_button_backtoptop:hover {
					background: url(images/footer_button_backtotop.jpg) no-repeat 0px -65px;
				}
					#footer_button_backtoptop:active {
						background: url(images/footer_button_backtotop.jpg) no-repeat 0px -130px;
					}
		#footer_copyright {
			clear: both;
			height: 51px;
			width: 450px;
			margin-top: 26px;
			margin-left: auto;
			margin-right: auto;
		}
			#footer_copyright p {
				float: left;
				width: 450px;
				margin-top: 8px;
			}
.right {
	float: right;
}
.left {
	float: left;
}

.textstyle_srvstatusbar {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	color: #fffefe;
	text-shadow: #342c2a 0px 0px 1px;
}
.textstyle_eventcountdown_time {
	font-family: Century;
	font-weight: bold;
	font-size: 30pt;
	color: #f3c7c9;
	text-shadow: #2b080a 0px 1px 1px;
}
.textstyle_eventcountdown_description {
	font-family: Century;
	line-height: 16px;
	font-size: 8pt;
	color: #c7b9bf;
}
.textstyle_input {
	font-family: Century;
	font-size: 10pt;
	color: #936c6c;
}
.textstyle_sidebarlink {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #725b5f;
}
	.textstyle_sidebarlink:hover {
		color: #985560;
	}
		.textstyle_sidebarlink:active {
			color: #b28189;
		}
.textstyle_maincontentlink {
	font-family: Century;
	font-size: 10pt;
	color: #725b5f;
	text-decoration: none;
}
	.textstyle_maincontentlink:hover {
		color: #fdd7d7;
	}
		.textstyle_maincontentlink:active {
			color: #b28189;
		}
.textstyle_main_content_item_title {
	font-family: Century;
	font-size: 12pt;
	color: #f0b18a;
	text-shadow: #110c0d 0px 1px 1px;
}
.textstyle_main_content_item_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #dfc4b3;
	text-shadow: #0d080a 0px 1px 1px;
}
.textstyle_main_content_item_footer {
	font-family: Century;
	font-size: 9pt;
	color: #a89580;
	text-shadow: #0d080a 0px 1px 1px;
}
.textstyle_sidebar_content_item_title {
	font-family: Century;
	font-size: 11pt;
	font-weight: bold;
	color: #ec7c6d;
	text-shadow: #0d0708 0px 1px 1px;
}
.textstyle_sidebar_content_item_content {
	font-family: Century;
	font-size: 14px;
	color: #e3bdb7;
}
.textstyle_ranking_header {
	font-family: Century;
	font-size: 8pt;
	color: #e4968b;
}
.textstyle_ranking_place1 {
	font-family: Century;
	font-size: 14px;
	line-height: 22px;
	color: #e3614f ;
}
.textstyle_ranking_place2 {
	font-family: Century;
	font-size: 14px;
	line-height: 22px;
	color: #e3796b;
}
.textstyle_ranking_place3 {
	font-family: Century;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 4px;
	color: #e39489;
}
.textstyle_ranking_places {
	font-family: Century;
	font-size: 12px;
	color: #e3bdb7;
}
.textstyle_footer_copyright {
	font-family: Century;
	font-size: 10pt;
	color: #ccc2d3;
	line-height: 16px;
	text-align: center;
}
.textstyle_footer_copyright_link {
	font-family: Century;
	font-size: 10pt;
	color: #b84f4f;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
}
	.textstyle_footer_copyright_link:hover {
		color: #f09090;
		text-decoration: underline;
	}
		.textstyle_footer_copyright_link:active {
			color: #8d1919;
		}
.button_small {
	background: url(images/button_small.png) no-repeat 0px 0px;
	height: 45px;
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 41px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #fff;
	text-shadow: #5e302d 0px 1px 1px;
}
	.button_small:hover {
		background: url(images/button_small.png) no-repeat 0px -45px;
		color: #fff;
	}
		.button_small:active {
			background: url(images/button_small.png) no-repeat 0px -90px;
			color: #ffd6ce;
		}
.button_medium {
	background: url(images/button_medium.png) no-repeat 0px 0px;
	height: 45px;
	width: 120px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 41px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #fff;
	text-shadow: #5e302d 0px 1px 1px;
}
	.button_medium:hover {
		background: url(images/button_medium.png) no-repeat 0px -45px;
		color: #fff;
	}
		.button_medium:active {
			background: url(images/button_medium.png) no-repeat 0px -90px;
			color: #ffd6ce;
		}
.topLine{
	font-weight:bold;
}
.thell {
  background-color:rgba(0,0,0,0.1);
  padding: 5px;
}

.tmarkiert {
  background-color:rgba(255,0,0,0.2);
  color:#FFF;
  padding: 5px;
}
input[type=submit], input[type=reset]{
	background: url(images/button_medium.png) no-repeat 0px 0px;
	height: 45px;
	width: 120px;
	text-align: center;
	text-decoration: none;
	line-height: 41px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #fff;
	text-shadow: #5e302d 0px 1px 1px;
	border:none;
}
input[type=submit], input[type=reset]{
	background: url(images/button_medium.png) no-repeat 0px 0px;
	height: 45px;
	width: 120px;
	text-align: center;
	text-decoration: none;
	line-height: 41px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #fff;
	text-shadow: #5e302d 0px 1px 1px;
	border:none;
	margin: 0px;
}
input[type=text], input[type=password]{
  border: none;
  background: transparent;
  height: 32px;
  width: 164px;
  margin-top: 9px;
  padding-left: 9px;
  padding-right: 9px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 8pt;
  color:#936c6c;
}
.form_input_bg{
  height: 55px;
  width: 206px;
  border: none;
  padding-right: 9px;
  background: url(images/main_content_item_form_text.png) no-repeat -10px -4px;
  float:left;
}
	input[type=submit]:hover, input[type=reset]:hover {
		background: url(images/button_medium.png) no-repeat 0px -45px;
		color: #fff;
	}
		input[type=submit]:active, input[type=reset]:active {
			background: url(images/button_medium.png) no-repeat 0px -90px;
			color: #ffd6ce;
		}

select {
    height: 55px;
	width: 206px;
    border: none;
    padding-right: 9px;
	background: none;
	float: left;
	border: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	color:#936c6c;
    text-indent: 20px;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:black;
    position:absolute;
    pointer-events:none;
    display:block;
}
#userpanel_login_submit{
	background: url(images/button_small.png) no-repeat 0px 0px;
	height: 45px;
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 41px;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #fff;
	text-shadow: #5e302d 0px 1px 1px;
	float: left;
	margin-left: 2px;
}
#form_login{
	margin-left: 25%;
}
#form_char_search{
	margin-left:-2px
}
.splitLeft{
	float:left;
	margin-left:100px;
}
.splitRight{
	float:right;
	margin-right:100px;
}
#isright{
	float:right;
	margin-right:100px;
}

#isleft{
	float:left;
	margin-left:50px;
}

#iscenter{
	float:left;
	margin-right:50px;
}

.valide_button {
	height:28px;
	box-shadow:inset 0 0 1px #10181e;
	-moz-box-shadow:inset 0 0 1px #10181e;
	-webkit-box-shadow:inset 0 0 1px #10181e;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:solid 1px #000;
	cursor:pointer;
}

	.valide_button a {
		padding:6px 10px;
		color:#725b5f;
		text-shadow:0 0 5px #3c150e;
		display:block;
		text-align:center;
	}

.valide_button.current {
	opacity:0.5;
}

.belepo {
	font-family: Century;
	font-size: 10pt;
	color: #b84f4f;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
}

.register input {
	background: grey;
	color: white;
}

.register input:hover {

}
